.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

:root {
  --background-color: #fff;
  --text-color: #000;
  --header-bg-color: #fff;
  --header-text-color: #DA251D;
  --button-bg-color: #FFA000;
  --button-text-color: #fff;
  /* Define other light mode variables as needed */
}

.dark-mode {
  --background-color: #121212;
  --text-color: #fff;
  --header-bg-color: #333;
  --header-text-color: #fff;
  --button-bg-color: #555;
  --button-text-color: #fff;
  /* Define other dark mode variables as needed */
}
