@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0b0c2c;
    padding: 1rem 1.5rem; /* Increased padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: auto; /* Changed from fixed height to auto to accommodate larger text */
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-logo img {
    border-radius: 50%;
    width: 60px; /* Adjust as needed */
    height: auto;
}

.header-typed-text {
    font-family: 'Roboto Mono', monospace; /* This is a typewriter-like font */
    color: #dabe1d;
    font-size: 1.4rem; /* Increased font-size for thickness */
    font-weight: 700; /* Thicker weight */
    margin-left: 20px; /* Space between logo and text */
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.action-button {
    padding: 0.5rem 1rem;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #100651; /* Changed to white for better visibility */
    background-color: #dabe1d;
    font-size: 1rem; /* Adjusted for consistent button font size */
}

.action-button:hover {
    background-color: #988410;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start on mobile */
    }

    .header-actions {
        width: 100%;
        justify-content: space-around; /* Space out buttons on mobile */
        margin-top: 1rem; /* Added margin top for spacing */
    }
}
