.hero-section {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fee0ac;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
    margin-top: 4.5rem;
    gap: 10px;
}

.hero-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero-image > img{
    max-width: 100%;
    max-height: 400px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.hero-content h1{
    font-weight: 600;
}

.hero-content h2{
    font-weight: 500;
    color: black;
}

.acronym > span:nth-child(1){
    color: orange;
}

.acronym > span:nth-child(2){
    color: white;
}

.acronym > span:nth-child(3){
    color: green;
}

.join-button {
    background-color: #DA251D;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.join-button:hover {
    background-color: #C21E17;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .hero-section {
        background-position: center;
        /* Adjust background for mobile */
    }
}