.profile{
    min-width: 100%;
    min-height: 100vh;
}

.profile .categories{
    flex-direction: column;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 20%;
}

.profile-section{
    margin-left: 20%;
    color: black;
    margin-top: 4.5rem;
}