.roommate-finder{
    min-width: 100%;
    min-height: 100vh;
}

.banner{
    display: flex;
    flex-direction: row;
}

.banner .categories{
    flex-direction: column;
    max-height: 500px;
    margin-top: 4.5rem;
    flex-basis: auto;
}

.banner .hero-section{
    flex-grow: 1;
}