.roommate-card {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    color: #333;
}

.roommate-card .roommate-name{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.roommate-card .roommate-info{
    display: flex;
    flex-direction: column;
    flex: 7;
    padding: 20px;
}
  
.roommate-card .name {
    font-size: 1.5em;
    font-weight: bold;
}

.roommate-card h3{
    margin: 0px;
}
  
.roommate-card .major-degree, .roommate-card .country-region, .roommate-card .from-to {
    font-size: 1.1em;
    color: #666;
    margin-top: 10px;
}
  
.roommate-card .icons {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    gap: 20px;
}
  
.roommate-card .bio {
    margin-top: 10px;
}
  
.roommate-card .contact-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    /* margin: 20px 0px 0px auto; */
}
  
.roommate-card .contact-button:hover {
    background-color: rgb(250, 128, 114);
}
  
  
.roommate-name.Vegetarian { 
    background: rgb(74, 211, 101); 
    background: -webkit-linear-gradient(to right bottom, rgba(74, 211, 101, 1), rgba(81, 160, 133, 1));
    background: linear-gradient(to right bottom, rgba(74, 211, 101, 1), rgba(81, 160, 133, 1));
}

.roommate-name.Non-Vegetarian { 
    background: rgb(245, 88, 88); 
    background: -webkit-linear-gradient(to right bottom, rgba(252, 160, 133, 1), rgba(245, 88, 88, 1));
    background: linear-gradient(to right bottom, rgba(252, 160, 133, 1), rgba(245, 88, 88, 1));
}

.roommate-card .social-media-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
  
.roommate-card .social-media-icons a {
    color: blue;
    font-size: 24px;
}
  
.roommate-info span{
    color: black;
    font-weight:500
}

hr{
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the line */
    background-color: #848383; /* Sets the color of the line */
    margin: 10px 0; /* Adds space above and below the line */
}