@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.roommate-info-section {
    position: relative;
    padding: 50px 0;
    background-image: url('./images/RoomatesInfo.jpg'); /* Adjust path if needed */
    background-size: contain; /* Adjust if you want the full image always visible */
    background-color: #002955;
    background-repeat: no-repeat;
    background-position: right center;
    color: white ;
}
.roommate-info-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./images/RoommatesInfoBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2; /* Adjust the opacity to your liking */
    z-index: 1; /* Ensure this is below the text but above the background image */
  }

.content-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roommate-info-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 45%;
    text-align: justify;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    opacity: 0; 
    transform: translateY(50px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.roommate-info-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.content-info h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content-info button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #100651; 
    background-color: #dabe1d;
    font-size: 1rem; 
    transition: transform 0.3s ease;
    will-change: transform;
}

.content-info button:hover {
    transform: translateY(-3px); /* Moves the button up slightly */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow to give a 'lifted' effect */
}

/* Add styles for the carousel container */
.roommates-carousel-container {
    position: relative;
    z-index: 2;
    margin: 20px 0;
}
